body{
  width:100%;
  margin: 0;
}
.refText{
  color: grey;
  font-size: 25px;
  font-family: sans-serif;
  margin: 0;
  padding-left: 25px;
  padding-top: 5px;
  width: 100%;
}
.reloadText{
  background: #00B7FF;
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  padding: 30px;
  text-align: center;
  text-shadow: 0px 3px 8px rgba(0,0,0,0.4);
  width: 100%;
}
.requirements{
  font-family: sans-serif;
  padding-left: 10px;
}
